<div class="container">
    <div class="row">
        <h1>Students</h1>
    </div>

    <%= link_to "Back to Activities", activities_path, class: "btn btn-secondary" %>

    <!--FROM index.html.erb FROM LAB 6-->
    <div class="studentview">
      <% @students.each_with_index do |student| %>
        <div class="student">
            <div class="group">
                <h5 class="card-title">
                    <%= "#{student.firstname} #{student.lastname}" %>
                </h5>
            </div>
            <span class="homeroom"><%= "Homeroom: #{student.homeroom}" %></span>
            <br>
            <br>
        </div>
      <% end %>
    </div>




</div>