<%= link_to "Back to Activities", activities_path, class: "btn btn-secondary backtoactivities" %> <br><br>
<table class="table usertable">
    <thead>
        <th>Email</th>
        <th>Students</th>
        <th>Role</th>
        <th>
        <th>
    
    </thead>
    <tbody id="usertablebody">
    <% @users.each do |user| %>
        <%= render partial: user %>
    <% end %>
    </tbody>
</table>