/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
    font-family: 'Palatino','Gill Sans', helvetica, arial, sans-serif;
    line-height: 1.3em;
}




.usercontrol{
    display: flex;
    background-color: silver;
    justify-content: space-between; 
    align-items: center; 
    padding: 5px 10px;   
    width: 100%
}

.user{
    font-weight: bold;
}

.loginout {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1; 
}

.loginout button{
    background-color:rgb(108, 42, 183);
    color: white;
    white-space: nowrap;
    align-self: flex-end;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 5px 10px;
}

.loginout button:hover{
    background-color: rgb(68, 28, 113);
}


.activitiesview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr)); /* Show 4 attractions per row */
    gap: 1px; 
    margin: 10px;
}

.activity {
    text-align: center;
    border: 1px solid rgb(108, 42, 183);
    border-radius: 20px;
    padding: 20px 10px;
    margin: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 96%;
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    height: 95%;   
}

.description {
    align-self: flex-end; /* Anchor button to the bottom */
    padding: 8px;
    position: relative;
    z-index: 3;
}


.weekday {
    font-style: italic;
    font-weight: bold;
}

.activity .btn {
    align-self: flex-end;
    width: 100%
}

.bold {
    font-weight: bold;
}





@media only screen and (max-width: 768px) {
    body, .card_title{
        font-size: 70%;

    }
    
    @media only screen and (max-width: 865px) {
        .activitiesview {
          grid-template-columns: repeat(auto-fit, minmax(30%, 1fr)); /* Show 3 attractions per row on smaller screens */
        }
    }
   
}