/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
    background-color: rgba(129, 150, 205, 0.364);
    font-family: 'Inter', 'Gill Sans';
    /* font-family: 'Palatino','Gill Sans', helvetica, arial, sans-serif; */
    line-height: 1.3em;
}
.innerboddy, .footercontainer .userlinks, .footercontainer .adminlinks {
    margin: 10px;
}
.user{
    font-weight: bold;
}

/* ******************** FOOTER STUFF ******************** */
.footer {
    width: 100%;
    background-color: rgba(157,177,230,255);
    padding: 5px 30px 5px 5px;
    font-weight:lighter;
}
.footercontainer{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.footercontainer .link {
    color:rgb(105, 105, 105);
    font-weight:lighter;
}
.footerlogo {
    max-height: 100px;
}

/* ******************** SEARCH STUFF ******************** */
.searchdiv :nth-child(1){
    width: 100%;
}

.searchdiv {
    flex-grow: 1;
    gap: 10px; 
    width: 100%; 
}

.searchbar-container {
    transform: translateY(-5px);
    display: flex;
    align-items: center;
    flex-grow: 1; 
}

.searchbar {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.search-icon {
    transform: translateY(-3px); 
    margin-left: 5px;
    cursor: pointer;
    width: 24px; 
    height: 24px;
    flex-shrink: 0; 
    margin-left: 10px; 
}

.clearsearch {
    transform: translateY(3px);
    flex-shrink: 0; 
    margin-left: 10px; 
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.unenroll_button {
    margin-left: 10px; 
    border: 1px solid #cccccc00;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    background-color: rgba(129, 151, 205, 0);
    font-size: 14px;
}
.unenroll_button:hover{
    color:#f90303;
}

.approve_button {
    margin-left: 10px; 
    border: 1px solid #cccccc00;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    background-color: rgba(129, 151, 205, 0);
    font-size: 14px;
}
.approve_button:hover{
    color:#007b10;
}

.searchdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width:100%
}
.searchbar{
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 5px rgba(184, 5, 255, 0.2);
    padding: 5px;
    margin-bottom: 10px;
    outline: none;
    border: none;
}

.clearsearch{
    transform: translateY(-10px);
    align-self: center;
    border: none; 
}
.clearsearch-container {
    flex-shrink: 0; 
}
.clearsearch:hover{
    color: rgba(184, 5, 255, 0.734);
    cursor: pointer;
}
.clearsearch:active{
    color: white;
}
.searchbar:focus{
    outline: none;
    border: none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.usercontrol{
    display: flex;
    background-color: silver;
    justify-content: space-between; 
    align-items: center; 
    padding: 5px 10px;   
    width: 100%;
}


/* ************ USER TABLE STUFF ************ */
#usertableid tr:nth-child(even) td {
    background-color: rgba(205, 205, 205, 0.47);
}
table#usertableid {
    width: 100%;
    vertical-align: middle;
   
}
#usertableid th:nth-child(1), #usertableid td:nth-child(1){
    width: 20%;
}
#usertableid th:nth-child(2), #usertableid td:nth-child(2){
    width: 30%;
}
#usertableid th:nth-child(3), #usertableid td:nth-child(3){
    width: 10%;
}
#usertableid th:nth-child(4), #usertableid td:nth-child(4){
    width: 40%;
}
#usertableid .btn{
    margin: 1px; 
}
table#usertableid th{
    background-color: rgb(226, 226, 226);
}
table#usertableid .btn{
    width: 90%;
    background-color: rgb(227, 109, 109);
}
table#usertableid .btn:hover{
    background-color: rgb(83, 37, 37);
}







.loginout {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1; 
}

.loginout button{
    background-color:rgb(108, 42, 183);
    color: white;
    white-space: nowrap;
    align-self: flex-end;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 5px 10px;
}

.loginout button:hover{
    background-color: rgb(68, 28, 113);
}

input[type="submit"] {
    margin: 5px; 
    border-radius: 6px;
    border: 1px solid rgb(54, 54, 54);
    background-color:rgb(240, 240, 240);
}

input[type="submit"]:hover {
    background-color:rgb(203, 203, 203);
}

.activitiesview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr)); /* Show 4 attractions per row */
    gap: 1px; 
    margin: 10px;
}

.activity {
    text-align: center;
    border: 1px solid rgb(108, 42, 183);
    border-radius: 20px;
    padding: 20px 10px;
    margin: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 96%;
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    height: 95%;   
    background-color: rgb(238, 230, 230);
}

.activity:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    background-color: rgb(253, 236, 255);
}

.description {
    align-self: flex-end; 
    padding: 8px;
    position: relative;
    z-index: 3;
}

.weekday {
    font-style: italic;
    font-weight: bold;
}

.activity .btn {
    background-color: rgba(68, 89, 252, 0.462);
    align-self: flex-end;
    width: 100%;
    border: none;
    transition: all 0.1s;
}

.activity .btn:hover {
    background-color: rgba(68, 89, 252, 0.885);
    color: white;
    align-self: flex-end;
    width: 100%;
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.btn-info{
    border: none;
    background-color: rgba(55, 72, 200, 0.728);
    margin: 1px; 
}

.bold {
    font-weight: bold;
}

.act-status-list {
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(108, 42, 183);
    border-radius: 5px;
}

.todo {
    background-color: rgb(227, 109, 109);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(108, 42, 183);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.login-form {
    width: 300px; /* Adjust the width as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.listed-act{
    display:flex;
    flex-direction:row;
}

.head-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.login-form2 {
    width: 300px; /* Adjust the width as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.head-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    body, .card_title{
        font-size: 70%;

    }
    
    @media only screen and (max-width: 865px) {
        .activitiesview {
          grid-template-columns: repeat(auto-fit, minmax(30%, 1fr)); /* Show 3 attractions per row on smaller screens */
        }
    }
   
}