<h1>Unapproved Activities</h1>
<% if @unapproved_activites.any? %>
    <ul>
        <% @unapproved_activites.each do |activity| %>
            <li>
                <h3><%= activity.title %></h3>
                <p><%= activity.description %></p>
                <!--Without the approval process in place this will be problematic...?-->
                <!--I think that it will assign the present time to created at, ie. they will all have -->
                <!--   been created at the same time, without specifying it as a field -->
                <p><strong><Created at: </strong> <%= activity.created_at.strftime("%B %d, %Y")%></p> 
            </li>
        <% end %>
    </ul>
<% else %>
    <p> No unapproved activities found. </p>
<% end %>
            
