<%= link_to "Back to index", activities_path, class: "btn btn-secondary" %>
<br>
<br>
<h1>Unapproved Activities</h1>

<% if !(Activity.where(approval_status: 1).empty?) %>
    <ul>
        <% Activity.where(approval_status: 1).each do |activity| %>
            <li>
                <h3><%= activity.title %></h3>
                <p><%= activity.description %></p>
                <p><strong><Created at: </strong> <%= activity.created_at.strftime("%B %d, %Y")%></p> 
            </li>
        <% end %>
    </ul>
<% else %>
    <p> No unapproved activities found. </p>
<% end %>
            
