<h1>Unapproved Activities</h1>
<% if @unapproved_activites.any? %>
    <ul>
        <% @unapproved_activites.each do |activity| %>
            <li>
                <h3><%= activity.title %></h3>
                <p><%= activity.description %></p>
                <p><strong><Created at: </strong> <%= activity.created_at.strftime("%B %d, %Y")%></p> 
            </li>
        <% end %>
    </ul>
<% else %>
    <p> No unapproved activities found. </p>
<% end %>
            
